{
    "env": {
        "browser": true,
        "node": true,
        "commonjs": true,
        "es6": true
    },
    "extends": [
        "airbnb"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "exampleGlobalVariable": true
    },
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
        "linebreak-style": 0,
        "indent": 2,
        "eol-last": [
            "error",
            "always"
        ]
    },
    "plugins": [
        "html"
    ]
}
